.audio-player {
  position: fixed;
  bottom: 10rem;
  right: 20px;
  display: flex;
  align-items: center;
}

.toggle-button {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.controls {
  display: flex;
  align-items: center;
  background-color: #333; /* fondo oscuro */
  padding: 10px;
  border-radius: 8px;
  margin-left: 10px;
  width: 8rem;
}

.volume-slider {
  width: 5rem;
  margin-left: 10px;
  background: linear-gradient(to right, #054d00 0%, #009605 100%); /* Gradiente de verde */
  appearance: standard;
  -webkit-appearance: none;
  height: 8px;
  border-radius: 5px;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white; /* Botón del deslizador blanco */
  cursor: pointer;
}

.volume-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #039d01;
  cursor: pointer;
}

@media (max-width: 770px) {
  .audio-player {
    bottom: 20rem;
    flex-direction: column;
  }
  .toggle-button {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 580px) {
  .audio-player {
    right: 2rem;
  }
  .toggle-button {
    width: 50px;
    height: 50px;
  }
}
