@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap");

#works{
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.worksTitle{
    margin: 1rem 0;
    font-size: 3rem;
    color: rgb(54, 237, 72);
}

.worksDesc{
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
}

.workItem {
    width: calc(25% - 10px); /* Ajuste el tamaño según su diseño */
    margin: 15px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    border-radius: 0.7rem;
    transition: all ease 0.3s;
}

.workItem:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgb(54, 237, 72);
}

.workLink {
    display: block;
    color: inherit; /* Hereda el color del texto */
    text-decoration: none; /* No subraya el enlace */
}

.workImg {
    width: 100%;
    height: 300px; /* Altura fija para la imagen */
    object-fit: contain; /* Cubre el área asignada sin perder la proporción */
    border: 1px solid rgba(255, 255, 255, 0.222);
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.workInfo {
    padding: 10px;
    background-color: #494848;
}

.workTitle {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

.workDescription {
    font-size: 1rem;
    color: #747474;
}

.btnM{
    padding: 25px 30px;
    color: #20db36;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .btnM:hover{
      background: #03f43b;
      color: #050801;
      box-shadow: 0 0 5px #03f43b,
                  0 0 25px #03f43b,
                  0 0 50px #03f43b,
                  0 0 200px #03f43b;
       -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
  }

@media (max-width: 1200px) {
    .workItem {
        width: calc(33.33% - 80px); /* 3 items por fila */
    }
}

@media (max-width: 900px) {
    .workItem {
        width: calc(50% - 80px); /* 2 items por fila */
        margin: 15px;
        }
    }

@media (max-width: 585px) {
    .workItem {
        width: 100%; /* 1 item por fila */
        margin: 15px; /* Solo margen vertical */
    }

    .worksTitle, .workTitle {
        font-size: 2rem; /* Tamaño de fuente más pequeño para el título */
    }

    .workDescription {
        font-size: 0.9rem; /* Tamaño de fuente más pequeño para la descripción */
    }
}